<%= form_with(model: splash) do |form| %>
  <% if splash.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(splash.errors.count, "error") %> prohibited this splash from being saved:</h2>

      <ul>
        <% splash.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
