<div class="splash-page d-flex">
  <div class="header">
    <h1>Payment Budget App</h1>
  </div>
  <div class="buttons">
    <%= button_to "Login", new_user_session_path, :method => :get, class:"splash-btns" %>
    <%= button_to "Sign up", new_user_registration_path, :method => :get, class:"splash-btns splash-signup" %>
  </div>
</div>