<div class='record d-flex flex-center' >
<div class="record__time">
<p>
<strong><%= record.name %></strong>
</p>
<p class="date d-flex"> <%= record.created_at.strftime('%d %b %Y') %></p>
<p>
</div>
<strong><span><%= record.amount %><span> $</strong>
  </p>
</div>
