<h1>Editing category record</h1>

<%= render "form", category_record: @category_record %>

<br>

<div>
  <%= link_to "Show this category record", @category_record %> |
  <%= link_to "Back to category records", category_records_path %>
</div>
